font-family: 'Open Sans', sans-serif;
header{
	background-color: #060606;
}
body
{
	background-color: #060606;
	text-align: center;
}


#titre{
	position: relative;
	text-align: center;
	font-size: 70pt;
	
}

#rectangleTitre{
	background-color: #dadada;
	height: auto;
	width: 100%;
	position: relative;
	background-image: url(img/forme.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size:;

}

#logo{
	width: 75px;
	height: 75px;
}

/*CSS BODY*/

#rectangleVosMedias{
	background-color: #2b2937;
	height: 31px;
	position: relative;
	color: white;
}

#vosEcrans{
	text-align: center;
}
.ecrans{
	width: 192px;
	height: 108px;
	margin: 10px 2px 2px 2px;
}