/*HEADER*/

#banner{
	width: 100%
	margin: 0 auto;
	background-color: black;
	font-size: 100px;
	color: white;
	text-align: center;

}
/*menuSection*/
#nav{

}

#menuManageScreen{
	border: 1px solid;

}
#menuManagePlaylist{
	border: 1px solid;

}

/*bodySection*/


section{
	text-align: center;
}

#myFiles{
	width: 40%;
	background-color: #BDBDBD;
    margin: 0 auto;
}

ul li{
	list-style: none;
}
 	/*formSection*/

form{
	width: 30%;
	margin: 0 auto;
}